/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-weight: inherit;
}

ul,
ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img,
svg {
	max-width: 100%;
	height: auto;
}

address {
	font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button,
input[type="submit"] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
	outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

/* my styles  */

#top-gradient {
	position: absolute;
	top: 0;
	width: 100%;
	height: 7px;
	background: rgb(243, 206, 239);
	background: linear-gradient(
		90deg,
		rgba(243, 206, 239, 1) 0%,
		rgba(167, 158, 239, 1) 50%,
		rgba(94, 179, 226, 1) 100%
	);
}

/* utility  */
.container-for-cover {
	max-width: 1536px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 3rem;
	padding-right: 3rem;
	/* outline: solid 1px cornflowerblue; */
}

.flex-between {
	display: flex;
	justify-content: space-between;
	gap: 1em;
}

.container {
	max-width: 1180px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 7rem;
	padding-right: 7rem;

	/* outline: solid 1px cornflowerblue; */
}

.fsz-3rem {
	font-size: 3rem;
	/* font-weight: 800; */
	color: black;
}

.fsz-2rem {
	font-size: 2rem;
	color: var(--light-text-color);
}

.fsz-1-2rem {
	font-size: 1.2rem;
}

.accent-color {
	color: var(--accent-color);
}

.for-underline {
	position: relative;
}
.for-underline::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 55%;
	width: 0;
	left: -10%;
	height: 13px;
	opacity: 40%;
	background-color: #aa7ad2;
	transition: all 0.5s;
}

.for-underline:hover::before {
	width: 120px;
}

.accent-button {
	background-color: var(--accent-color);
	color: white;
	padding-inline: 1em;
	padding-block: 0.7em;

	transition: all 0.3s;
}

.accent-button:hover {
	background-color: var(--bright-accent-color);
}

/* styles  */

:root {
	--light-text-color: #71727a;
	--accent-color: #aa7ad2;
	--bright-accent-color: #c824ff;
	font-size: 16px;
}

@font-face {
	font-family: "Gilroy Regular";
	src: url("/assets/fonts/Gilroy-Regular.eot");
	src: url("/assets/fonts/Gilroy-Regular.eot?#iefix")
			format("embedded-opentype"),
		url("./assets/fonts/Gilroy-Regular.woff") format("woff"),
		url("./assets/fonts/Gilroy-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy Black";
	src: url("/assets/fonts/Gilroy-Black.eot");
	src: url("/assets/fonts/Gilroy-Black.eot?#iefix")
			format("embedded-opentype"),
		url("./assets/fonts/Gilroy-Black.woff") format("woff"),
		url("./assets/fonts/Gilroy-Black.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "Gilroy Regular";
	color: var(--light-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: black;
}

/* header  */

.header-top-bar {
	margin-top: 1em;
	align-items: center;
}

header {
	/* display: flex; */
	/* align-items: center; */
	color: var(--light-text-color);
	/* outline: solid 1px green; */
}

.header-flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-links a:hover {
	color: var(--accent-color);
}

.nav-links {
	align-items: center;
	height: 100%;
	margin-right: 3em;
	gap: 2em;
	white-space: nowrap;
}

.header-brief-container {
	overflow-y: hidden;
	padding-right: 1em;
}

.header-brief-container i:hover ~ #email-link {
	top: 0;
}

.online-brief-button {
	background-color: var(--accent-color);
	color: white;
	padding-inline: 1em;
	padding-block: 0.5em;
	border: solid 1px var(--accent-color);
	height: 100%;
	white-space: nowrap;
	transition: all 0.3s;
}

.online-brief-button:hover {
	background-color: var(--bright-accent-color);
	border-color: var(--bright-accent-color);
}

.online-brief-button:hover ~ .mail-icon {
	border-color: var(--bright-accent-color);
	color: var(--bright-accent-color);
}

.mail-icon {
	border: solid 1px var(--accent-color);
	height: 100%;
	display: flex;
	align-items: center;
	color: var(--accent-color);
	transition: all 0.5s;
}

.mail-icon i {
	/* color: var(--accent-color); */
	padding-inline: 0.6em;
	font-size: 1.3em;
}

.mail-icon:hover {
	background-color: var(--bright-accent-color);
	color: white;
	border-color: var(--bright-accent-color);
}

.mail-icon:hover ~ #email-link {
	top: 0;
}

.brief-button-container {
	height: 40px;
	/* border: solid 2px var(--accent-color); */
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	position: relative;
	/* width: 55%; */
	width: fit-content;
}

.brief-contact-container {
	position: relative;
	/* outline: solid 1px green; */
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 1em;
}

.brief-contact-container a {
	font-size: 1.3em;
}

#email-link {
	padding-right: 0.5em;
	position: absolute;
	left: 100%;
	background-color: var(--bright-accent-color);
	/* width: 100%; */
	height: 100%;
	top: -200%;
	color: white;
	border: solid 2px var(--bright-accent-color);
	/* padding-right: em; */
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.8s;
	font-size: 1.3em;
	z-index: 3;
}

.phone-number {
	white-space: nowrap;
}

.logo-container {
	align-items: center;
}

.logo-container:hover {
	color: var(--accent-color);
}

.off-screen-menu {
	background-color: white;
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	right: -200%;
	transition: all 0.7s ease-in-out;
	z-index: 10;
	padding-top: 6rem;
	padding-right: 7rem;
	padding-left: 7rem;
	font-size: 1.2rem;
}

.off-screen-menu h2 {
	margin-bottom: 1em;
	font-size: 1.5rem;
}

.off-screen-menu li {
	margin: 1em;
}

.off-screen-menu li:hover {
	color: var(--accent-color);
}

.off-screen-menu.active {
	right: 0;
}

.off-screen-menu .digital-creator {
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.off-screen-menu div:nth-child(5) {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-height: 75vh;
}

.ham-menu {
	height: 50px;
	width: 50px;
	position: relative;
	/* position: sticky; */
	z-index: 15;
	/* right: 3%; */
	/* top: 10%; */
	margin-top: 1em;
	/* outline: solid 1px coral; */
}

.ham-menu span {
	height: 4px;
	width: 100%;
	position: absolute;
	background-color: var(--light-text-color);
	top: 50%;
	left: 50%;
	border-radius: 25px;
	transform: translate(-50%, -50%);
	transition: all 0.6s;
}

.ham-menu span:nth-child(1) {
	top: 25%;
	width: 60%;
	left: 60%;
}

.ham-menu span:nth-child(3) {
	top: 75%;
	width: 50%;
	left: 40%;
}

.ham-menu:hover span:nth-child(1) {
	left: 70%;
	width: 50%;
}

.ham-menu:hover span:nth-child(2) {
	left: 40%;
	width: 90%;
}

.ham-menu:hover span:nth-child(3) {
	left: 60%;
}

.ham-menu.active span:nth-child(1) {
	top: 50%;
	left: 50%;
	width: 85%;
	transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
	opacity: 0;
}

.ham-menu.active span:nth-child(3) {
	left: 50%;
	width: 85%;
	top: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
}

.ham-menu.active:hover span:nth-child(1),
.ham-menu.active:hover span:nth-child(3) {
	width: 100%;
}

body.active {
	overflow: hidden;
	height: 100vh;
}

/* cover  */

#typed-strings {
	opacity: 0;
	position: absolute;
}

.cover {
	margin-top: 5em;
	margin-bottom: 6em;
	text-align: center;
}

.grey-centered-text {
	color: var(--light-text-color);
}

.digital-creator {
	font-size: 8em;
	font-family: "Gilroy Black";
	color: #bdcac784;
	position: absolute;
	/* top: 100px; */
	/* left: 15%; */
	/* top: 13%; */
	z-index: -1;
	white-space: nowrap;
	top: 23%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.cover-cards-container {
	min-height: 310px;
	margin-bottom: 2em;
}

.cover-card {
	min-width: 32%;
	height: 280px;
	background-color: #aa7ad2;
	border-top-right-radius: 70px;
	text-align: left;
	position: relative;
}

.cover-card svg {
	position: absolute;
	left: 85%;
	top: 13%;
	/* outline: solid 1px red; */
}

.cover-card > p {
	margin-top: 1em;
	margin-left: 4em;
	color: white;
}

.cover-card1 {
	align-self: end;
	background: url("/assets/img/Rectangle1.png");
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.4s;
}

.cover-card2 {
	align-self: start;

	background: url("/assets/img/Rectangle2.png");
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
}

#pod-kluch {
	float: right;
	margin-top: 0;
	margin-right: 4em;
}

#guideline {
	float: right;
	margin-top: 0;
	margin-right: 8em;
}

.cover-card3 {
	align-self: end;
	background: url("/assets/img/Rectangle3.png");
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	font-size: 3rem;
	margin-bottom: 0.7em;
	color: black;
	font-family: "Roboto Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 300;
}

/* typewriter effect  */
.typewriter {
	display: flex;
	justify-content: center;
	align-items: start;
	margin-bottom: 1em;
	/* border: solid 1px red; */
	width: min-content;
	margin: 0 auto;
}

.typewriter h1 {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	border-right: 3px solid;
	animation: typing 7s steps(17) infinite forwards,
		blink 0.4s step-end infinite alternate;
	margin: 0;
	margin-bottom: 0.3em;
}

@keyframes typing {
	0% {
		width: 0;
	}

	30% {
		width: 100%;
	}
	60% {
		width: 100%;
	}
	80% {
		width: 0;
	}
	100% {
		width: 0;
	}
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}

/* creative studio  */

.creative-studio > * {
	width: 45%;
}

.service-cards > div {
	border: solid 1px #d5d1d1;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.7em;
	font-size: 0.9em;
	text-align: center;
	transition: all 0.2s;
}

.service-cards > div:hover {
	border-color: var(--accent-color);

	color: var(--accent-color);
}

.service-cards {
	display: grid;
	gap: 1em;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.service-cards-h3 {
	margin-top: 2em;
	margin-bottom: 1em;
}

/* portfolio  */
.portfolio-section {
	margin-top: 5em;
}

.portfolio-text {
	align-items: center;
	margin-bottom: 3em;
}

.portfolio-text > * {
	width: 50%;
}

.portfolio-titles > * {
	transition: all 0.3s;
}

.portfolio-titles > *:hover {
	color: black;
}
.portfolio-container-dev {
	display: column;
	columns: 3;
	margin-top: 2em;
	/* outline: solid 3px cornflowerblue; */
	overflow: hidden;
	gap: 0.3rem;
	transition: all 0.4s;

	/* perspective: 1000px; */
}

.portfolio-container-dev img {
	transition: all 0.7s;
	/* transform-style: preserve-3d; */
	/* transform-origin: left; */
}

.portfolio-container-dev:has(img:hover) > img:not(:hover) {
	filter: brightness(60%);
	scale: 0.98;
}

.portfolio-container-dev > * {
	margin: 0.1rem;
	/* margin-inline: 0; */
}

#watch-more-container {
	margin-top: 1em;
	margin-bottom: 5em;
}

#watch-more-link {
	transition: all 0.3s;
	gap: 1em;
	display: flex;
	font-size: 1.3rem;
	margin-top: 2em;
	align-items: center;
	justify-content: center;
}

#watch-more-link:hover {
	color: var(--accent-color);
}

#watch-more-link:hover .up-arrow-svg path {
	fill: var(--accent-color);
}

#watch-more-link:hover .up-arrow-svg circle {
	stroke: var(--accent-color);
}

/* .up-arrow-svg path {
	fill: var(--accent-color);




	stroke: var(--accent-color);




} */

.discuss-project {
	position: relative;
	white-space: nowrap;
	transition: all 0.5s;
}

.discuss-project::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 55%;
	width: 140px;
	left: -10%;
	height: 13px;
	opacity: 40%;
	background-color: #aa7ad2;
	transition: all 0.5s;
}

.discuss-project:hover {
	color: black;
}

.discuss-project:hover::before {
	top: -40%;
	left: -10%;
	width: 120%;
	height: 180%;
}

/* comfortable  */

.comfortable-team {
	align-items: center;
	margin-bottom: 2em;
}

.comfortable-team > * {
	width: 50%;
}

.inner-text-block {
	margin-left: 10em;
}

.inner-text-block h3 {
	font-size: 2rem;
	color: white;
}

.inner-text-block p {
	font-size: 1.4rem;
	color: white;
}

.communication {
	padding-top: 1em;
	/* outline: solid 1px green; */
	/* padding-left: 7rem;
	padding-right: 7rem; */
	margin-bottom: 6em;
	/* max-height: 0vw; */
}

.communication > * {
	width: 40%;
}

.team-benefits h3 {
	font-size: 1.3rem;
	margin-top: 1em;
	margin-bottom: 0.7em;
}

.team-benefits p {
	font-size: 1.3rem;
	/* margin-bottom: 1em; */
}

.team-benefits button {
	font-size: 1.4rem;
	margin-top: 2em;
}

.team-benefits {
	/* outline: solid 1px cornflowerblue; */
	margin-left: 3em;
	margin-right: 10em;
	/* display: flex; */
	/* flex-direction: column; */
	margin-bottom: 5em;
	/* justify-content: space-around; */
	width: 30%;
}

#inner-bg-img-container {
	background: url(./assets/img/team-pink-bg.png);
	/* outline: solid 1px crimson; */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 1em;
	margin-right: 4em;
	padding-top: 5em;
	padding-bottom: 5em;
	padding-left: 3em;
	padding-right: 3em;
	border-top-right-radius: 95px;
}

#outer-bg-img-container {
	border-top-right-radius: 95px;
	padding-top: 3em;
	/* padding-bottom: 3em; */
	/* outline: solid 1px coral; */
	width: 50%;
	background-image: url(./assets/img/team-white-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	max-height: 43vw;
}

/* why us  */

.why-us-text > * {
	width: 50%;
}

.why-us-text {
	align-items: center;
}

.why-us-list {
	margin-top: 3em;
	list-style: none;
	counter-reset: num;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 2em;
	margin-bottom: 4em;
}

.why-us-list li {
	counter-increment: num;
}

.why-us-list li::before {
	content: counter(num) ". ";
	color: var(--accent-color);

	font-size: 1.2rem;
}

/* carousel  */
@keyframes scroll {
	to {
		transform: translateX(calc(-100% - 2.3em));
		/* shouldn't change the gap in carousel1 ul without
		 changing this, the animation will lag  */
	}
}

.carousel {
	width: 100vw;
	background-color: #8775a7;
	/* height: 200px; */
	margin-bottom: 4em;
	color: white;
	overflow: hidden;
	user-select: none;
	padding-top: 3em;
	padding-bottom: 3em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 3em;
}

.carousel1,
.carousel2 {
	display: flex;
	gap: 3.6em;
}
.carousel1 ul,
.carousel2 ul {
	display: flex;
	justify-content: center;
	gap: 2.3em;
	width: 100vw;
	font-size: 1.5em;
}

.carousel1 ul {
	animation: scroll 20s linear infinite;
}

.carousel2 ul {
	animation: scroll 25s linear infinite;
}

/* frequently asked  */

.freq-questions-text > * {
	width: 40%;
	margin-bottom: 2em;
}

.faq {
	/* max-width: 70%; */
}

.faq i {
	font-style: normal;
	font-size: 5em;
	color: var(--light-text-color);
}

.question {
	font-size: 1.3em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 1rem;
	user-select: none;
}

.answer {
	border-bottom: solid 1px #d5d1d1;
	max-height: 0px;
	overflow: hidden;
	transition: all 1s ease;
	padding-bottom: 1rem;
}

.question h3 {
	color: var(--light-text-color);
}

.answer p {
	padding-top: 1em;
	padding-left: 4em;
	max-width: 70%;
}

.answer ol {
	padding-left: 5em;
	margin-top: 2em;
}

.answer li {
	margin-bottom: 1em;
}

.plus-icon {
	transition: transform 0.6s ease;
}

.svg-rect {
	transition: fill 0.6s ease;
}

.question.open .plus-icon {
	transform-box: fill-box;
	transform-origin: center;
	transform: rotate(45deg);
}

.question.open .svg-rect {
	stroke: var(--accent-color);

	fill: var(--accent-color);
}

/* let's work  */

.lets-work-text {
	margin-top: 5em;
}
.lets-work-text > * {
	width: 40%;
}

.lets-work-text p {
	margin-bottom: 1em;
}

.lets-work-inp-container {
	border-bottom: solid 1px var(--accent-color);

	/* width: fit-content; */
	padding-bottom: 0.5em;
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-top: 7em;
	margin-bottom: 0.5em;
}

.lets-work-inp-container button {
	color: var(--accent-color);

	width: min-content;
}

.lets-work-a {
	transition: all 0.3s;
}

.lets-work-a:hover {
	color: var(--accent-color);
}

/* footer  */
footer {
	margin-top: 3em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #d5d1d1;
	background-color: #54575d;
}

.darker-footer {
	background-color: #484b51;
}

.darker-footer > div {
	padding-block: 2em;
}

.footer-top-half {
	padding-top: 3em;
	padding-bottom: 1em;
	display: flex;
	justify-content: space-between;
	max-width: 1180px;
	margin: 0 auto;
}

.footer-top-half li {
	margin-bottom: 1em;
}

.footer-logo-container {
	height: min-content;
	align-items: center;
}

.footer-button-container {
	display: flex;
	flex-direction: column;
	gap: 1em;
	height: min-content;
}

.phone-and-icons {
	font-size: 1.3em;
	display: flex;
	justify-content: space-between;
	gap: 0.5em;
	/* outline: solid 1px red; */
}

.phone-and-icons i {
	margin-right: 0.3em;
}

.footer-contacts {
	/* outline: solid 1px green; */
	display: flex;
	flex-direction: column;
	align-items: end;
	gap: 2em;
}

.darker-footer .content {
	max-width: 1180px;
	margin: 0 auto;
}

footer a {
	transition: all 0.3s;
}

footer a:hover {
	color: white;
}
/* media queries  */

/* 2xl */
@media (max-width: 1536px) {
	body {
		/* background-color: red; */
	}
	.container {
		max-width: 1536px;
	}
}

/* xl */
@media (max-width: 1280px) {
	body {
		/* background-color: blue; */
	}
	.container {
		max-width: 1280px;
	}
}

/* lg */
@media (max-width: 1024px) {
	body {
		/* background-color: green; */
	}
	.container {
		max-width: 1024px;
	}
}

/* md */
@media (max-width: 768px) {
	.container {
		max-width: 768px;
	}
}

/* sm */
@media (max-width: 640px) {
	.container {
		max-width: 640px;
	}
}

/* xs */
@media (max-width: 475px) {
	.container {
		max-width: 475px;
	}
}
