/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-weight: inherit;
}

ul,
ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img,
svg {
	max-width: 100%;
	height: auto;
}

address {
	font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button,
input[type="submit"] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
	outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

/* my styles  */

#top-gradient {
	width: 100%;
	height: 7px;
	background: rgb(243, 206, 239);
	background: linear-gradient(
		90deg,
		rgba(243, 206, 239, 1) 0%,
		rgba(167, 158, 239, 1) 50%,
		rgba(94, 179, 226, 1) 100%
	);
}

/* utility  */
.container-for-cover {
	max-width: 1536px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 3rem;
	padding-right: 3rem;
}

.flex-between {
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
	gap: 1em;
}

.container {
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 7rem;
	padding-right: 7rem;
}

.fsz-3rem {
	font-size: 3rem;
	/* font-weight: 800; */
	color: black;
}

.fsz-2rem {
	font-size: 2rem;
	color: var(--light-text-color);
}

.fsz-1-2rem {
	font-size: 1.2rem;
}

.accent-color {
	color: var(--accent-color);
}

/* styles  */

:root {
	--light-text-color: #71727a;
	--accent-color: #aa7ad2;
	font-size: 16px;
}

@font-face {
	font-family: "Gilroy Regular";
	src: url("/assets/fonts/Gilroy-Regular.eot");
	src: url("/assets/fonts/Gilroy-Regular.eot?#iefix")
			format("embedded-opentype"),
		url("./assets/fonts/Gilroy-Regular.woff") format("woff"),
		url("./assets/fonts/Gilroy-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy Black";
	src: url("/assets/fonts/Gilroy-Black.eot");
	src: url("/assets/fonts/Gilroy-Black.eot?#iefix")
			format("embedded-opentype"),
		url("./assets/fonts/Gilroy-Black.woff") format("woff"),
		url("./assets/fonts/Gilroy-Black.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "Gilroy Regular";
	color: var(--light-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: black;
}

/* header  */

.header-top-bar {
	margin-top: 1em;
	align-items: center;
}

header {
	color: var(--light-text-color);
}

.header-links a:hover {
	color: var(--accent-color);
}

.nav-links {
	align-items: center;
	height: 100%;
	margin-right: 3em;
	gap: 2em;
}

.online-brief-button {
	background-color: var(--accent-color);
	color: white;
	padding-inline: 1em;
	padding-block: 0.5em;
	border: solid 1px var(--accent-color);
	height: 100%;
}

.phone-number {
	font-size: 1.3em;
	align-self: center;
}

i {
	color: var(--accent-color);
	font-size: 1.3em;
	padding-inline: 0.6em;
	/* border: solid 1px var(--accent-color); */
}

#header-phone-button {
	height: fit-content;
	outline: solid 2px var(--accent-color);
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
}

.logo-container {
	align-items: center;
}

/* cover  */

.cover {
	margin-top: 5em;
	margin-bottom: 6em;
	text-align: center;
}

.grey-centered-text {
	color: var(--light-text-color);
}

#digital-creator {
	font-size: 8em;
	font-family: "Gilroy Black";
	color: #bdcac784;
	position: absolute;
	top: 100px;
	left: 15%;
	top: 13%;
	z-index: -1;
}

.cover-cards-container {
	min-height: 310px;
	margin-bottom: 2em;
}

.cover-card {
	min-width: 32%;
	height: 280px;
	background-color: #aa7ad2;
	border-top-right-radius: 70px;
	text-align: left;
}

.cover-card > p {
	margin-top: 1em;
	margin-left: 4em;
	color: white;
}

.cover-card1 {
	align-self: end;
	background: url("/assets/img/Rectangle1.png");
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
}

.cover-card2 {
	align-self: start;

	background: url("/assets/img/Rectangle2.png");
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
}

#pod-kluch {
	float: right;
	margin-top: 0;
	margin-right: 4em;
}

#guideline {
	float: right;
	margin-top: 0;
	margin-right: 8em;
}

.cover-card3 {
	align-self: end;
	background: url("/assets/img/Rectangle3.png");
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	font-size: 3rem;
	margin-bottom: 0.7em;
	color: black;
	font-family: "Roboto Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 300;
}

/* typewriter effect  */
.typewriter {
	display: flex;
	justify-content: center;
	align-items: start;
	margin-bottom: 1em;
	/* border: solid 1px red; */
	width: min-content;
	margin: 0 auto;
}

.typewriter h1 {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	border-right: 3px solid;
	animation: typing 7s steps(17) infinite forwards,
		blink 0.4s step-end infinite alternate;
	margin: 0;
	margin-bottom: 0.3em;
}

@keyframes typing {
	0% {
		width: 0;
	}

	30% {
		width: 100%;
	}
	60% {
		width: 100%;
	}
	80% {
		width: 0;
	}
	100% {
		width: 0;
	}
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}

/* creative studio  */

.creative-studio > * {
	width: 45%;
}

.service-cards > div {
	border: solid 1px #d5d1d1;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.7em;
	font-size: 0.9em;
	text-align: center;
	transition: all 0.2s;
}

.service-cards > div:hover {
	border-color: var(--accent-color);
	color: var(--accent-color);
}

.service-cards {
	display: grid;
	gap: 1em;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.service-cards-h3 {
	margin-top: 2em;
}

/* portfolio  */
.portfolio-section {
	margin-top: 5em;
}

/* carousel  */
.carousel {
	width: 100vw;
	background-color: #8775a7;
	height: 200px;
}

/* frequently asked  */

/* media queries  */

/* 2xl */
@media (max-width: 1536px) {
}

/* xl */
@media (max-width: 1280px) {
}

/* lg */
@media (max-width: 1024px) {
}

/* md */
@media (max-width: 768px) {
}

/* sm */
@media (max-width: 640px) {
}

/* xs */
@media (max-width: 475px) {
}
